{{  if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh
path=$HOME/.local/share/chezmoi/
if [ ! -f "$path.chezmoiignore" ]; then
  cd $path
  echo -e ".config/hypr/Wallpaper/" >".chezmoiignore"
fi
{{ end -}}
