
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 * background:     #20212C6A;
 * foreground:     #C0CAF5;
 **/

* {
    background:     #0E12196A;
    sel-foreground: #111218;
    background-alt: #282B3C00;
    foreground:     #DADAFF;
    selected:       #87B2F6;
    active:         #33CCFF;
    urgent:         #50FA7B;
	border:			#87B2F6;
}
